<section class="contacto" id="contacto">
    <div class="contenedor-contacto">
        <h2>Contacto</h2>
        <div class="fila">
            <div class="col">
                <div class="info">
                    <h3>Email:</h3>
                    <!-- <p>yazminvillalba55@gmail.com</p> -->
                   
                </div>
                <div class="info">
                    <h3>País</h3>
                    <p>Argentina</p>
                </div>
                <div class="info">
                    <h3>Ciudad:</h3>
                    <p>Buenos Aires</p>
                </div>
            </div>
            <div class="col">
                <input type="text" placeholder="Nombre...">
                <input type="text" placeholder="Correo...">
                <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                <input type="submit" value="Enviar" class="btn">
            </div>
        </div>
    </div>
</section>