<h2>Mis Proyectos</h2>
<div class="wrapper">
	<div class="card">
		<div class="poster"><img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Titulo del trabajo</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos molestiae quis rem quia omnis eum sunt quaerat, a voluptate consequatur vitae tempore ab enim exercitationem dignissimos ea qui beatae temporibus?</p>
            <span>html</span><span>css</span><span>javascript</span>
            <a href="#">Ver Trabajo</a>
		</div> 
	</div>
	<div class="card">
		<div class="poster"><img src="https://i.postimg.cc/GtxLYS7q/poster2-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Titulo del trabajo</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos molestiae quis rem quia omnis eum sunt quaerat, a voluptate consequatur vitae tempore ab enim exercitationem dignissimos ea qui beatae temporibus?</p>
            <span>html</span><span>css</span><span>javascript</span>
            <a href="#">Ver Trabajo</a>
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="https://i.postimg.cc/yxH6DzPD/poster3-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Titulo del trabajo</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos molestiae quis rem quia omnis eum sunt quaerat, a voluptate consequatur vitae tempore ab enim exercitationem dignissimos ea qui beatae temporibus?</p>
            <span>html</span><span>css</span><span>javascript</span>
            <a href="#">Ver Trabajo</a>
		</div>
	</div>
    
</div>
