<!-- <div class="header-contenedor">
    <div class="nv">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Yazmin Villalba</a>
              <app-redes-sociales></app-redes-sociales>   
    
            </div>
            <div class="header-toggle" id="header-toggle">
                <a class="navbar-brand" href="#">Yazmin Villalba</a>
                <i class="bx bx-grid-alt"></i>
            </div>
        </nav>
    </div>
    <div>
     <app-banner></app-banner>   
    </div>
    
</div>  -->
<header>
    <!-- <img class="logo" src="./img/logo.png" alt="Logo"> -->
    <div class="nav-content">
        <a class="navbar-brand" href="#">Yazmin Villalba</a>
        <button id="abrir" class="abrir-menu"><i class="bx bx-grid-alt"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu" id="cerrar"><i class="bx bx-x"></i></button>
            <div class="nav-data">
                <div class="nav-mask">
                    <img src="../../../assets/img/perfil.jpeg" alt="" class="nav-img" />
                </div>

                <span class="nav-greeting">Hi</span>
                <h1 class="nav-name">Yazmin Villalba</h1>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#home" class="nav-link active-link">
                        <i class="bx bx-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">
                        <i class="bx bx-user"></i> About
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#portfolio" class="nav-link">
                        <i class="bx bx-briefcase-alt-2"></i> Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#skills" class="nav-link">
                        <i class="bx bx-bookmark"></i> Skills
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">
                        <i class="bx bx-message-square-detail"></i> Contact
                    </a>
                </li>
            </ul>
        </nav>
        <app-redes-sociales></app-redes-sociales>
    </div>
    
    <div>
        <app-banner></app-banner>
    </div>

</header>