<div class="contenedor-habilidades">
    <h1>Habilidades</h1>
    <div class="fila-habilidades" >
        <div>
            <circle-progress
                [percent]="95"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [subtitle]="'HTML'"
                [unitsColor]="'white'"
                [titleColor]="'white'"
                [subtitleFontSize]="'1.5rem'"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="95"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [subtitle]="'CSS'"
                [unitsColor]="'white'"
                [titleColor]="'white'"
                [subtitleFontSize]="'1.5rem'"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [subtitle]="'Angular'"
                [unitsColor]="'white'"
                [titleColor]="'white'"
                [subtitleFontSize]="'1.5rem'"
            ></circle-progress>
        </div>
    </div>
    <div class="fila-habilidades">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [subtitle]="'MYSQL'"
                [unitsColor]="'white'"
                [titleColor]="'white'"
                [subtitleFontSize]="'1.5rem'"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [subtitle]="'PHP'"
                [unitsColor]="'white'"
                [titleColor]="'white'"
                [subtitleFontSize]="'1.5rem'"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [subtitle]="'Javascript'"
                [unitsColor]="'white'"
                [titleColor]="'white'"
                [subtitleFontSize]="'1.5rem'"
            ></circle-progress>
        </div>
    </div>
    
</div>