@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');
img{
    height: 400px;
    border-radius: 100%;
    box-shadow: 3px 3px 10px #00023b;
    margin-top: 20px;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
p{
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'M PLUS Rounded 1c';
    color: white;
    font-size: xx-large;
}
.container-titulo{
    flex-direction: column;
}
.subtitulo{
    font-size: x-large;
}